
 @font-face {
    font-family: 'Montserrat regular';
    src: url('../font/Montserrat/montserrat-regular-webfont.eot');
    src: url('../font/Montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/Montserrat/montserrat-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
} 


@font-face {
    font-family: 'Montserrat light';
    src: url('../font/Montserrat/montserrat-light-webfont.eot');
    src: url('../font/Montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../font/Montserrat/montserrat-light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway regular";
    src: url(../font/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway medium";
    src: url(../font/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url(../font/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../font/Raleway/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Myriad Pro Regular";
    src: url(../font/MyriadPro/8143.otf);
}