@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Raleway regular";
    src: url(../font/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway medium";
    src: url(../font/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url(../font/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../font/Raleway/Raleway-SemiBold.ttf);
}