//my variabls ****************************************
$max: 1920px;
$min: 1400px;
$mr: "Montserrat";
$rr: "Raleway regular";
$rm: "Raleway medium";
$reb: "Raleway-ExtraBold";
$rsb: "Raleway-SemiBold";
$leftimgz: 10;
$centrimgz: 20;
$rigtimgz: 10;