@import 'fonts';

@import 'varcour';

@import 'myvar';

@import 'mixin';

.contener {
  margin: 20px auto;
  width: auto;
  max-width: $max;
  min-width: $min;
  box-sizing: content-box;
  @include clearfix();
}

@import 'header';

.main {
  width: inherit;
}

.cont-help {
  padding: 70px 341px 79px 376px;
  display: flex;
  justify-content: space-between;

  .help {
    display: block;
    width: 270px;
    height: inherit;
    text-align: center;
    position: relative;
    text-decoration: none;

    .icon {
      fill: #555555;
    }

    .h3-help {
      margin-top: 83px;
      width: 269px;
      @include textt(22px, 400, #555555, $rsb);
    }

    .p-help {
      width: 269px;
      line-height: 24px;
      margin-top: -8px;
      margin-bottom: 28px;
      @include textt(14px, 300, #555555, $mr);
    }

    .p-help::after {
      position: absolute;
      content: "";
      display: block;
      border-top: 3px solid #555555;
      width: 70px;
      bottom: 0;
      left: 98px;
    }
  }

  .help:nth-child(1)>svg {
    position: absolute;
    right: 113px;
    top: 10px;
  }

  .help:nth-child(2)>svg {
    position: absolute;
    right: 114px;
    top: 19px;
  }

  .help:nth-child(3)>svg {
    position: absolute;
    right: 116px;
    top: 15px;
  }

  .help:nth-child(4)>svg {
    position: absolute;
    right: 108px;
    top: 22px;
  }



  .help:hover .p-help::after {
    border-top: #c7b299;
  }

  .help:active .p-help::after {
    border-top: #cc7811;
  }

  .help:hover h3 {
    color: #c7b299;
  }

  .help:active h3 {
    color: #cc7811;
  }

  .help:hover svg {
    fill: #c7b299;
  }

  .help:active svg {
    fill: #cc7811;
  }
}

.Waxom-is-ealization {
  width: inherit;
  display: flex;
  position: relative;
  background-color: #fbfaf8;
  flex-direction: column;
  justify-content: space-between;
  padding: 77px 575px 0 576px;
  box-sizing: border-box;
  z-index: 5;

  .h2-Waxom-is-Realization {
    text-align: center;
    width: 769px;
    @include textt(30px, 400, #555555, $reb);
  }

  .p2-Waxom-is-Realization {
    margin-top: 15px;
    text-align: center;
    width: 769px;
    line-height: 28px;
    @include textt(16px, 300, #8c8c8c, $mr);
  }

  .imgcenter {
    margin-top: 36px;
    z-index: 20;
  }

  .imgleft {
    position: absolute;
    bottom: 0px;
    left: 345px;
  }

  .imgright {
    position: absolute;
    bottom: 0px;
    right: 340px;
  }
}

.Purchase-Now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 41px 358px 49px 376px;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);

  .Purchase-Now-cont-next {
    width: 545px;

    .text-brown {
      @include textt(28px, 400, #c7b299, $rr);
    }

    .text-white {
      @include textt(28px, 400, #ffffff, $rr);
    }

    .p-Purchase-Now {
      margin-top: 5px;
      @include textt(18px, 300, #615855, $mr);
    }
  }

  .button-Purchase-Now {
    //@include button(170px, 50px, 14px, 400, white, $reb, #502a09, #0a0603);
    box-shadow: inset 0 -3px 0 #736357;
    @include clearfix();
  }
}

.Our-Latest-Projects {
  text-align: center;
  padding: 81px 374px 80px 376px;
  display: flex;
  flex-direction: column;
}

.h2-Our-Latest-Projects {
  margin: 0 auto;
  width: 300px;
  @include textt(30px, 400, #555555, $rsb);
}

.p-Our-Latest-Projects {
  margin: 0 auto;
  margin-top: 24px;
  width: 790px;
  line-height: 28px;
  @include textt(16px, 300, #8c8c8c, $mr);
}

.nav-Our-Latest-Projects {
  display: flex;
  width: 608px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-between;

  flex-wrap: wrap;

  .button-Our-Latest-Projects {
    display: inline-block;
    border-radius: 5px;
  }

  .button-Our-Latest-Projects:nth-child(1) {
    //@include button(70px, 32px, 14px, 300, #8c8c8c, $mr, #998675, #422107);
    background-color: white;
    border: 1px solid #ebebeb;
  }

  .button-Our-Latest-Projects:nth-child(2) {
    // @include button(120px, 32px, 14px, 300, #8c8c8c, $mr, #998675, #422107);
    background-color: white;
    border: 1px solid #ebebeb;
  }

  .button-Our-Latest-Projects:nth-child(3) {
    //@include button(120px, 32px, 14px, 300, #8c8c8c, $mr, #998675, #422107);
    background-color: white;
    border: 1px solid #ebebeb;
  }

  .button-Our-Latest-Projects:nth-child(4) {
    //@include button(120px, 32px, 14px, 300, #8c8c8c, $mr, #998675, #422107);
    background-color: white;
    border: 1px solid #ebebeb;
  }

  .button-Our-Latest-Projects:nth-child(5) {
    // @include button(135px, 32px, 14px, 300, #8c8c8c, $mr, #998675, #422107);
    background-color: white;
    border: 1px solid #ebebeb;
  }

  .button-Our-Latest-Projects:hover {
    color: white;
  }
}

.rov1-Our-Latest-Projects {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .figure-Our-Latest-Projects {
    width: 370px;
  }

  .img-Our-Latest-Prodjects {
    display: inline-block;
  }

  .figcaption-Our-Latest-Projects {
    display: inline-block;
    text-align-last: left;
    width: 370px;
  }
}